{% extends 'base.html'%}
{%load static%}
{%block title%}Participate Events{%endblock%}
{% block content%}
<style>
    #container {
        height: 850px;
        width: 740px;
        background-color: transparent;
        margin: 0 0 0 23%;
    }

    #msg {
        width: 800px;
        margin-left: 20%;
    }
</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="msg">
        <strong> {{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="container" id="container">
    <p class="fs-3 fw-bold">Participation Form</p>
    <p class="text-muted">Please fill up the form carefully, our admin will review your participation form and contact
        you soon.</p>
    <form method="POST" action="{% url 'participate' event.e_id %}">
        {% csrf_token %}
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Event Name:</label>
            <input type="text" class="form-control" name="eventname" value="{{ event.title }}" readonly>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Event Date:</label>
            <input type="date" class="form-control" name="eventdate" value="{{ event.event_date|date:'Y-m-d' }}"
                readonly>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Event Time:</label>
            <input type="time" class="form-control" name="eventtime" value="{{ event.event_time|time:'H:i' }}" readonly>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Email Address:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-4">
            <label for="exampleInputEmail1" class="form-label">Phone Number:</label>
            <input type="text" class="form-control" name="phone" required>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">First Name:</label>
            <input type="text" class="form-control" name="firstname" required>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Last Name:</label>
            <input type="text" class="form-control" name="lastname" required>
        </div>
        <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Loaction:</label>
            <input type="text" class="form-control" name="loaction" required>
        </div> <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{%endblock%}