{% extends 'base.html'%}
{%load static%}
{%block title%} Registration{%endblock%}
{% block content%}
<style>
    #container {
        height: 750px;
        width: 740px;
        background-color: transparent;
        margin: 0 0 0 23%;
    }
    #msg {
        width: 800px;
        margin-left: 20%;
    }
</style>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="msg">
        <strong> {{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endfor %}
{% endif %}
<div class="container" id="container">
    <p class="fs-3 fw-bold">Registration Form</p>
    <p class="text-muted">Please fill up the form carefully, our admin will review your registration form and contact you soon.</p>
    <form method="POST" action="{% url 'registration' %}">
      {% csrf_token %}
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="UIU Email Address" pattern=".*uiu.ac.bd$" name="email" required>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="UIU ID Number" name="idnumber" required>
          </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Department" name="department" required>
          </div>
          <div class="mb-3">
            <input type="date" class="form-control" placeholder="Date of Birth" name="dob" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Bkash Transaction Number" name="transaction-number" maxlength="20" required>
            <div id="emailHelp" class="form-text my-2" style="margin-left: 20px;">
              <strong>
                We charge 300 BDT only to recruit a member. This is for only one time.
                Please send us your member fee at out Bkash [+88 016 40720014], and the the transaction number.
                We're looking to forward to work with you, thanks.
              </strong>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Confirm Registration</button>
      </form>
</div>
{%endblock%}